.container .input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  .container {
    display: block;
    align-items: start;
    position: relative;
    cursor: pointer;
    user-select: none;
  
  }
  
  .svg {
    position: relative;
    top: 0;
    left: 0;
    height: 30px;
    width: 30px;
    transition: all 0.3s;
    fill: #212121;
  }
  
  .svg:hover {
    transform: scale(1.1) rotate(-10deg);
  }
  
  .container .input:checked ~ .svg {
    fill: #214ff3;
  }
  